@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif|Roboto';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif|Raleway:400,600,700,800|Roboto:400,700,900';
a,
a:hover,
a:active {
	text-decoration: none;
}

body {
	font-family: 'Poppins', sans-serif;
	width: 100%;
	color: black;
	margin: 0 auto;
	position: relative;
	background: #FFFFFF;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
}

.top-line {
	background: #F4F4F4;
	padding: 10px 0;
}

.top-line .welcome {
	float: left;
}

.top-line .welcome p {
	margin-top: 7px;
}

.main-header {
	padding: 30px 0 19px 0;
}

.main-header .logo {
	margin-top: 10px;
}

.main-header ul {
	list-style-type: none;
	margin-left: 50px;
	margin-bottom: 0;
	margin-top: 3px;
}

.main-header ul li {
	display: inline-block;
	list-style-type: none;
	margin-left: 20px;
}

.main-header ul p {
	color: #6c6c6c;
	font-size: 15px;
	font-weight: 300;
}

.main-header ul span {
	color: #232932;
	font-size: 14px;
	font-weight: bold;
}

.main-header ul span.add {
	color: #6c6c6c;
	font-size: 14px;
	font-weight: bold;
}

.main-header .icon {
	float: left;
	display: block;
}

.main-header .icon i {
	font-size: 2em;
	line-height: 30px;
	color: #fbad1a;
}

.main-header .general-info {
	float: left;
}

.main-header .text {
	float: left;
	display: block;
	margin-left: 10px;
}

.main-header .button-wraper {
	display: inline-block;
	vertical-align: middle;
}

.main-header .button {
	float: right;
}

.main-header .button a {
	display: block;
	background: #fbad1a;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 14px 25px;
}

.main-header .social-icons {
	float: right;
	padding-top: 15px;
}

.main-header .social-icons ul {
	list-style-type: none;
	margin: 0;
}

.main-header .social-icons ul li {
	display: inline-block;
	margin-left: 7px;
}

.main-header .social-icons ul li a {
	display: block;
	height: 36px;
	width: 36px;
	background: #b9b9b9;
	text-align: center;
	line-height: 34px;
	color: #F4F4F4;
	border-radius: 3px;
	transition: all 0.5s ease;
}

.main-header .social-icons ul li a:hover {
	background: #fbad1a;
}

.main-menu-one {
	background: #072d4d;
}

#main-navigation-wrapper.navbar-default {
	background: transparent;
	border: none;
	border-radius: 0;
	margin: 0;
}

.navbar-collapse {
	padding: 0;
}

#main-navigation-wrapper .nav>li {
	padding: 25px 0;
}

#main-navigation-wrapper .nav>li>a {
	color: #FFFFFF;
	text-transform: uppercase;
	display: block;
	padding: 0 26px;
	font-weight: bold;
	margin: 0;
}

#main-navigation-wrapper .nav>li:first-child a {
	padding-left: 0;
}

#main-navigation-wrapper .nav .dropdown-submenu li:last-child {
	border-bottom: 4px solid #fbad1a;
}

#main-navigation-wrapper .navbar-nav>li>.dropdown-submenu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	padding: 0;
	border: none;
	border-radius: 0;
	display: block;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	width: 270px;
	background: #fdfdfd;
	-webkit-transform: translate3d(-20px, 0, 0);
	transform: translate3d(-20px, 0, 0);
}

#main-navigation-wrapper .navbar-nav>li:hover>.dropdown-submenu,
#main-navigation-wrapper .navbar-nav>.open>.dropdown-submenu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
}

#main-navigation-wrapper .nav .dropdown-submenu li a {
	display: block;
	border-bottom: 1px solid #ebebeb;
	text-transform: capitalize;
	color: #313131;
	font-size: 15px;
	font-weight: 500;
	padding: 12px 0px 12px 33px;
	line-height: normal;
	transition: all 0.4s ease 0s;
	margin: 0;
}

#main-navigation-wrapper .nav .dropdown-submenu li:last-child>a {
	border-bottom: none;
}

#main-navigation-wrapper .nav .dropdown-submenu li a:hover {
	background: #fbad1a;
	color: #FFFFFF;
	text-decoration: none;
}

.main-menu-one .search li {
	float: right;
	padding: 22px 0;
}

.main-menu-one .search li a {
	color: #FFFFFF;
	display: block;
}

.main-menu-one .search li i {
	margin-right: 5px;
}

.main-menu-one .search li a {
	color: #a9a9a9;
}

.main-menu-one .search button {
	background: none;
	border: none;
	color: #a9a9a9;
}

.main-menu-one #main-navigation-wrapper .navbar-nav li:hover .dropdown-submenu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
}

.main-menu-one ul.search {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
}

.main-menu-one ul.search li.first {
	margin-left: 55px;
}

.finance-navbar.affix {
	top: 0;
	left: 0;
	right: 0;
	position: fixed !important;
	margin: 0;
	animation: fadeItIn 1s;
	z-index: 1000;
	padding: 5px 0 !important;
	min-height: 70px !important;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.finance-navbar .button-wraper {
	display: inline-block;
	vertical-align: middle;
}

.finance-navbar .button {
	float: right;
}

.finance-navbar .button a {
	display: block;
	background: #fbad1a;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 25px 29px;
	margin-bottom: 0;
	margin-left: 20px;
}

@keyframes fadeItIn {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		-moz-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

.main-menu-one.sticky {
	top: 0;
	left: 0;
	right: 0;
	position: fixed !important;
	margin: 0;
	animation: fadeItIn 1s;
	z-index: 1000;
	min-height: 70px !important;
	background: #072d4d;
	-webkit-box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.47);
	-moz-box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.47);
	box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.47);
}

#minimal-bootstrap-carousel .carousel-inner {
	height: 720px;
}

#minimal-bootstrap-carousel {
	z-index: 0;
}

#minimal-bootstrap-carousel .carousel-caption {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 0;
	text-align: right;
	text-shadow: none;
}

#minimal-bootstrap-carousel .carousel-caption .thm-container {
	display: table;
	width: 100%;
	height: 100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#minimal-bootstrap-carousel .carousel-caption .thm-container .box {
	display: table-cell;
	text-align: left;
}

#minimal-bootstrap-carousel .carousel-caption .thm-container .box.valign-top {
	vertical-align: top;
}

#minimal-bootstrap-carousel .carousel-caption .thm-container .box.valign-bottom {
	vertical-align: bottom;
}

#minimal-bootstrap-carousel .carousel-caption .thm-container .box.valign-middle {
	vertical-align: middle;
}

#minimal-bootstrap-carousel .carousel-caption .thm-container .box .content {
	display: block;
}

#minimal-bootstrap-carousel .carousel-inner .item {
	min-height: 640px;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-color: #1E1E1E;
}

#minimal-bootstrap-carousel .carousel-control {
	background: none;
	width: 40px;
	height: 40px;
	font-size: 15px;
	line-height: 40px;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	visibility: visible !important;
	opacity: .65;
	margin-top: -20px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	top: 50%;
	border-radius: 0;
	z-index: 99;
}

#minimal-bootstrap-carousel .carousel-control.left {
	left: 1%;
}

#minimal-bootstrap-carousel .carousel-control.right {
	right: 1%;
}

#minimal-bootstrap-carousel .carousel-control:hover {
	opacity: 1;
	background: #000;
}

.carousel-fade .carousel-inner .item {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
	z-index: 2;
}


/* fixing layers styles */

#minimal-bootstrap-carousel .carousel-caption .thm-container .box.valign-bottom .content {
	padding-bottom: 200px;
}

#minimal-bootstrap-carousel .carousel-caption h2 {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	margin: 0;
	font-size: 55px;
	line-height: 55px;
	font-weight: 700;
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}

#minimal-bootstrap-carousel .carousel-caption h2 span {
	color: #fbad1a;
}

#minimal-bootstrap-carousel .carousel-caption p {
	font-style: italic;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	font-size: 17px;
	line-height: 28px;
	margin-top: 20px;
	margin-bottom: 40px;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

#minimal-bootstrap-carousel .carousel-caption a.thm-button {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

#minimal-bootstrap-carousel .carousel-caption a.thm-button:last-child {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

#minimal-bootstrap-carousel .carousel-caption span.dib {
	display: inline-block;
	vertical-align: middle;
}

#minimal-bootstrap-carousel .carousel-caption span.border {
	display: inline-block;
	width: 270px;
	height: 1px;
	background: #FFFFFF;
	vertical-align: inherit;
	position: relative;
	top: 3px;
}

#minimal-bootstrap-carousel .slide-1 .carousel-caption h2 {
	margin: 0;
	text-align: left;
}

#minimal-bootstrap-carousel .slide-2 .carousel-caption .content {
	padding-top: 160px;
}

#minimal-bootstrap-carousel .slide-2 .carousel-caption h3 {
	color: #C9D705;
	margin: 0;
	font-size: 40px;
	line-height: 55px;
	font-weight: bold;
}

#minimal-bootstrap-carousel .carousel-caption .buttons {
	text-align: left;
	margin-top: 0px;
}

#minimal-bootstrap-carousel .slide-2 .carousel-caption .thm-button {
	padding: 12px 33px;
	background: #fbad1a;
	color: #FFFFFF;
	border: none;
	margin-top: 25px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin-right: 20px;
}

#minimal-bootstrap-carousel .slide-1 .carousel-caption .thm-button {
	padding: 12px 33px;
	background: #fbad1a;
	color: #FFFFFF;
	border: none;
	margin-top: 25px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin-right: 20px;
}

#minimal-bootstrap-carousel .slide-1 .carousel-caption .thm-button.inverse {
	padding: 12px 33px;
	background: #072d4d;
	color: #FFFFFF;
	border: none;
	margin-top: 25px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin-right: 20px;
}

#minimal-bootstrap-carousel .slide-2 .carousel-caption .thm-button.inverse {
	padding: 12px 33px;
	background: #072d4d;
	color: #FFFFFF;
	border: none;
	margin-top: 25px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin-right: 20px;
}

#minimal-bootstrap-carousel .slide-2 .carousel-caption h2 {
	margin: 0;
	text-align: left;
}

#minimal-bootstrap-carousel .slide-2 .carousel-caption p {
	margin: 0;
	margin-top: 19px;
}

#minimal-bootstrap-carousel .slide-2 .carousel-caption span.dib {
	display: inline-block;
	vertical-align: middle;
}

#minimal-bootstrap-carousel .slide-2 .carousel-caption span.border {
	display: inline-block;
	width: 270px;
	height: 1px;
	background: #FFFFFF;
	vertical-align: inherit;
	position: relative;
	top: 3px;
}

#minimal-bootstrap-carousel .slide-2 .carousel-caption .thm-button {
	-webkit-animation-delay: 2s !important;
	animation-delay: 2s !important;
}

.offer-wraper {
	padding: 80px 0;
}

.offer-wraper h2 {
	text-align: center;
	margin: 0;
	font-size: 28px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.offer-wraper .title {
	position: relative;
	margin-bottom: 80px;
}

.offer-wraper h2:before {
	content: "";
	position: absolute;
	top: 50px;
	left: 48%;
	width: 50px;
	height: 4px;
	background: #fbad1a;
}

.offer-wraper .item:hover .default-overlay-outer {
	top: 0;
	opacity: 1;
}

.offer-wraper .item .default-overlay-outer {
	opacity: 0;
	top: -100%;
	background: rgba(16, 37, 46, 0.7);
}

.default-overlay-outer {
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	padding: 10px;
	transition: all 700ms ease;
	-webkit-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
}

.default-overlay-outer .inner {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: table;
	vertical-align: middle;
	text-align: center;
}

.offer-wraper .img-box {
	position: relative;
	height: 210px;
	overflow: hidden;
}

.offer-wraper .item .btn {
	border: none;
	background: #fbad1a;
	color: #ffffff;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 11px 25px;
	position: absolute;
	top: 85px;
	left: 120px;
}

.offer-wraper .item h3 {
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.offer-wraper .item p {
	color: #707070;
	line-height: 25px;
	margin-bottom: 15px;
	font-weight: 300;
}

.offer-wraper .item h6 a {
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600px;
	color: #fbad1a;
}

.offer-wraper .second {
	margin-top: 40px;
}

.owl-carousel {
	position: relative;
}

.about {
	padding: 80px 0;
}

.about h2 {
	text-align: left;
	margin: 0;
	font-size: 28px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.about h2:before {
	content: "";
	position: absolute;
	top: 50px;
	left: 15px;
	width: 50px;
	height: 4px;
	background: #fbad1a;
}

.about p {
	text-align: left;
	font-size: 13px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 27px;
	margin-top: 50px;
}

.about ul {
	list-style-type: none;
	padding-left: 0;
}

.about ul li {
	text-align: left;
	font-size: 13px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	line-height: 27px;
}

.about ul li i {
	font-size: 13px;
	color: #252525;
	font-weight: 600;
	margin-right: 5px;
}

.about .button {
	clear: both;
}

.about a {
	border: none;
	background: #fbad1a;
	color: #ffffff;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 11px 33px;
	margin-top: 20PX;
	clear: both;
}

.about a:hover {
	color: #fbad1a;
}

.about .picture-wraper .first {
	overflow: hidden;
	float: right;
}

.numbers {
	padding: 80px 0;
	background: url(../../images/photo_2019-04-29_13-00-26.jpg) center top;
}

.numbers h2 {
	text-align: left;
	margin: 0;
	font-size: 28px;
	color: #fbad1a;
	line-height: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.numbers h2 span {
	color: #FFFFFF;
}

.numbers .number-box {
	text-align: left;
	margin: 0;
	font-size: 46px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	line-height: 40px;
	text-transform: capitalize;
	color: #fbad1a;
}

.numbers .text-box p {
	text-align: left;
	margin: 0;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 40px;
	text-transform: capitalize;
	color: #FFFFFF;
}

.numbers .box {
	float: right;
	margin-left: 60px;
	margin-right: 20px;
}

.numbers .statistic {
	margin-top: 20px;
}

.news {
	padding: 80px 0;
	margin-top: 20px;
	background: url(../../images/photo_2019-04-29_13-03-32.jpg) center top;
}

.news .our-news h2 {
	text-align: left;
	margin: 0;
	font-size: 28px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.news .our-news h2:before {
	content: "";
	position: absolute;
	top: 50px;
	left: 15px;
	width: 50px;
	height: 4px;
	background: #fbad1a;
}

.news .our-news .news1 figure {
	overflow: hidden;
	width: 182px;
	height: 134px;
	float: left;
	margin-right: 20px;
}

.news .our-news .title {
	margin-bottom: 60px;
}

.news .our-news .news1 {
	margin-top: 20px;
}

.news .our-news .news1 .text-box h3 {
	text-align: left;
	margin: 0;
	font-size: 15px;
	color: #424242;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.news .our-news .news1 .text-box h3 span {
	text-align: left;
	margin: 0;
	font-size: 12px;
	color: #5f5f5f;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 25px;
}

.news .our-news .news1 .text-box .date {
	width: 50px;
	height: 50px;
	background: #fbad1a;
	float: left;
	text-align: center;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 13px;
	line-height: 17px;
	padding-top: 7px;
	font-family: 'Poppins', sans-serif;
	margin-right: 10px;
}

.news .our-news .news1 .text-box .opis {
	text-align: left;
	margin: 0;
	font-size: 12.5px;
	color: #5f5f5f;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 20px;
	margin-top: 10px;
}

.news .our-news .news1 .text-box a {
	text-align: left;
	margin: 0;
	font-size: 12.5px;
	color: #fbad1a;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 40px;
}

.news .questions h2 {
	text-align: left;
	margin: 0;
	font-size: 28px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.news .questions h2:before {
	content: "";
	position: absolute;
	top: 50px;
	left: 15px;
	width: 50px;
	height: 4px;
	background: #fbad1a;
}

.news .questions .title {
	margin-bottom: 60px;
}

#accordion {
	margin-top: 40px;
}

.toggle {
	margin-bottom: 20px;
}

.toggle .toggle-heading a {
	display: block;
	padding: 15px 13px 15px 55px;
	background: #FFFFFF;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	color: #414141;
	position: relative;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	text-decoration: none;
	-webkit-box-shadow: 1px 3px 6px -6px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: 1px 3px 6px -6px rgba(0, 0, 0, 0.62);
	box-shadow: 1px 3px 6px -6px rgba(0, 0, 0, 0.62);
}

#accordion .toggle i {
	width: 23px;
	height: 23px;
	border: 2px solid transparent;
	border-radius: 100%;
	font-size: 14px;
	line-height: 21px;
	margin-right: 10px;
	text-align: center;
	position: absolute;
	left: 17px;
	top: 50%;
	margin-top: -11.5px;
	color: #fbad1a;
	border: 2px solid #c0c0c0;
}

.toggle .toggle-body {
	padding: 20px 0 4px;
	font-size: 16px;
	line-height: 25px;
}

.contact {
	padding: 80px 0;
}

.contact h2 {
	text-align: left;
	margin-bottom: 30px;
	margin-top: 0;
	font-size: 28px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.contact h2:before {
	content: "";
	position: absolute;
	top: 100px;
	left: 20px;
	width: 50px;
	height: 4px;
	background: #fbad1a;
}

.contact p {
	text-align: left;
	margin: 0;
	font-size: 14px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	margin-top: 19px;
	line-height: 30px;
}

.contact .contact-wraper {
	background: #f2f2f2;
	position: relative;
	padding: 20px;
	overflow: hidden;
}

.contact .contact-wraper .nopd {
	padding-left: 0;
}

.contact .contact-wraper .contact-info {
	padding: 60px 15px 80px 20px;
	background: #FFFFFF;
}

.contact form {
	margin-top: 30px;
}

.contact form input[type="text"] {
	width: 100%;
	height: 48px;
	padding: 10px 10px;
	border: 1px solid #6d6d6d;
	border-radius: 0px;
	background: #FFFFFF;
	margin-bottom: 12px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #999999;
}

.contact form select {
	width: 100%;
	height: 48px;
	padding: 10px 10px;
	border: 1px solid #6d6d6d;
	border-radius: 0px;
	background: #FFFFFF;
	margin-bottom: 12px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #999999;
}

.contact form textarea {
	max-width: 100%;
	max-height: 130px;
	min-height: 130px;
	padding: 10px 10px;
	border: 1px solid #6d6d6d;
	border-radius: 0px;
	background: #FFFFFF;
	margin-bottom: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #999999;
	outline: none;
}

.contact form a.btn {
	padding: 10px 29px;
	background: #fbad1a;
	color: #FFFFFF;
	border: none;
	border-radius: 0px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin-left: 15px;
}

.main-footer {
	padding: 80px 0;
	background: #072d4d;
}

.main-footer .sec-tab {
	padding-left: 50px;
}

.main-footer h2 {
	text-align: left;
	margin-bottom: 30px;
	margin-top: 0;
	font-size: 21px;
	color: #e7e7e8;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.main-footer p {
	text-align: left;
	margin: 0;
	font-size: 14px;
	color: #F4F4F4;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	margin-top: 19px;
	line-height: 27px;
}

.main-footer .social-icons {
	margin-top: 20px;
}

.main-footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 300px;
}

.main-footer .social-icons ul li {
	display: inline-block;
	margin-right: 10px;
}

.main-footer .social-icons ul li a {
	display: block;
	height: 34px;
	width: 34px;
	background: #b9b9b9;
	text-align: center;
	line-height: 34px;
	color: #F4F4F4;
	transition: all 0.5s ease;
	border-radius: 3px;
}

.main-footer .social-icons ul li a:hover {
	background: #fbad1a;
}

.main-footer .solutions {
	margin-top: 60px;
}

.main-footer .solutions li {
	margin-top: 20px;
}

.main-footer .solutions li a:hover {
	color: #fbad1a;
}

.main-footer .solutions li a {
	color: #F4F4F4;
	font-weight: 300;
	transition: all .3s ease;
}

.main-footer .footer-news p {
	margin-top: 10px;
	line-height: 22px;
}

.main-footer .footer-news p span {
	color: #9e9e9e;
	line-height: 30px;
}

.main-footer .contact-info li {
	margin-top: 30px;
	padding-left: 20px;
}

.main-footer .contact-info .address {
	float: left;
}

.main-footer .contact-info .address a {
	color: #F4F4F4;
	transition: all .3s ease;
}

.main-footer .contact-info .address a:hover {
	color: #fbad1a;
}

.main-footer .contact-info li {
	color: #F4F4F4;
	line-height: 20px;
	font-weight: 300;
	margin-bottom: 15px;
	clear: both;
	overflow: hidden;
}

.main-footer .contact-info li i {
	color: #fbad1a;
	float: left;
	font-size: 24px;
	width: 35px;
}

.footer-bottom {
	padding: 30px 0;
	background: #f2f2f2;
}

.footer-bottom p {
	color: #a3a3a3;
	margin: 0;
	font-size: 13px;
	font-weight: 300;
}

.scroll-top {
	width: 50px;
	height: 40px;
	text-align: center;
	background: #fbad1a;
	position: fixed;
	bottom: 30px;
	right: 30px;
	color: #FFFFFF;
	z-index: 100;
	font-size: 25px;
	text-decoration: none;
	transition: all 0.3s ease;
}

.header-title {
	padding-top: 127px;
	height: 280px;
	background: url(../img/pages-header.jpg) no-repeat center top;
}

.header-title h2 {
	text-align: center;
	margin: 0;
	font-size: 28px;
	color: #072d4d;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.page-nav {
	padding: 25px;
	border-bottom: 1px solid #535353;
}

.page-nav ul {
	list-style-type: none;
	text-align: center;
	margin-bottom: 0;
}

.page-nav ul li {
	display: inline-block;
	margin-right: 10px;
	font-weight: 400;
}

.page-nav ul li span {
	color: #fbad1a;
}

.overview {
	padding: 80px 0;
}

.overview .title {
	margin-bottom: 40px;
}

.overview h2 {
	text-align: left;
	margin: 0;
	font-size: 28px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.overview h2:before {
	content: "";
	position: absolute;
	top: 50px;
	left: 15px;
	width: 50px;
	height: 4px;
	background: #fbad1a;
}

.overview p {
	text-align: left;
	font-size: 13px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 27px;
	margin-top: 10px;
}

.overview p.bold {
	text-align: left;
	font-size: 13px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	line-height: 27px;
	margin-top: 10px;
}

.overview ul {
	list-style-type: none;
	padding: 0;
}

.overview ul li {
	font-weight: 300;
	margin-bottom: 5px;
}

.overview ul li i {
	margin-right: 5px;
}

.overview .big-image {
	overflow: hidden;
}

.overview .small-images {
	margin-top: 18px;
}

.overview .small-images .one {
	float: left;
	width: 49%;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}

.overview .small-images .two {
	float: right;
	width: 49%;
	overflow: hidden;
}

.adventages {
	padding: 80px 0;
	background: url(../img/about-bg.jpg) no-repeat center top;
}

.adventages .box {
	background: #FFFFFF;
	padding: 20px 10px;
}

.adventages .box h3 {
	text-align: left;
	margin: 0;
	font-size: 18px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.adventages .box p {
	text-align: left;
	font-size: 13px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 23px;
	margin-top: 10px;
}

.adventages .box .icon {
	margin-bottom: 10px;
}

.achivment {
	padding: 80px 0;
}

.achivment .title {
	margin-bottom: 70px;
}

.achivment .title h2 {
	text-align: left;
	margin: 0;
	font-size: 28px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.achivment .title h2:before {
	content: "";
	position: absolute;
	top: 50px;
	left: 15px;
	width: 50px;
	height: 4px;
	background: #fbad1a;
}

.news-section {
	padding: 80px 0;
}

.news-section .blog-info .title {
	margin-bottom: 20px;
}

.news-section .blog-info h4 {
	font-size: 19px;
	font-weight: 400;
	color: #3e3e3e;
}

.news-section .blog-info .search-box .form-group input[type="search"] {
	position: relative;
	line-height: 26px;
	padding: 10px 30px 10px 15px;
	border: 1px solid #e0e0e0;
	height: 48px;
	background: #f3f3f3;
	color: #3a3a3a;
	display: block;
	width: 100%;
	border-radius: 0px;
	font-weight: 300;
	transition: all 500ms ease;
}

.news-section .blog-info .search-box .form-group button {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 48px;
	width: 50px;
	line-height: 48px;
	text-align: center;
	display: block;
	font-size: 16px;
	color: #ffffff;
	background: #fbad1a;
	border: none;
}

.news-section .blog-info .category-widget {
	margin-top: 50px;
}

.news-section .blog-info .category-widget ul {
	list-style-type: none;
	padding-left: 0;
}

.news-section .blog-info .category-widget ul li a {
	font-weight: 300;
	text-decoration: none;
	color: #575757;
	display: block;
	line-height: 42px;
	border-bottom: 1px solid #E6E6E6;
	position: relative;
	-webkit-transition: color .4s ease;
	transition: color .4s ease;
}

.news-section .blog-info .category-widget ul li a:hover {
	color: #fbad1a;
}

.news-section .blog-info .category-widget ul li a:before {
	content: "\f105";
	font-family: FontAwesome;
	color: #C8C8C8;
	font-size: 14px;
	position: absolute;
	right: 10px;
}

.news-section .blog-info .news-widget {
	margin-top: 50px;
}

.news-section .blog-info .news-widget .news-item {
	margin-bottom: 13px;
	min-height: 50px;
	padding: 8px 0px 8px 0px;
	color: #cccccc;
	border-bottom: 1px solid #f1f1f1;
}

.news-section .blog-info .news-widget .news-item p {
	color: #fbad1a;
	font-weight: 300;
}

.news-section .blog-info .instigram-widget p {
	font-size: 14px;
	font-weight: 300;
	color: #292929;
}

.news-section .blog-info .news-widget .news-item figure {
	width: 90px;
	height: 90px;
	float: left;
	margin-right: 15px;
	overflow: hidden;
}

.news-section .blog-info .news-widget h5 {
	margin-bottom: 2px;
}

.news-section .blog-info .news-widget h5 a {
	color: #3e3e3e;
	text-decoration: none;
	font-size: 15px;
	color: #000000;
	font-weight: 400;
	-webkit-transition: color .4s ease;
	transition: color .4s ease;
}

.news-section .blog-info .news-widget h5 a:hover {
	color: #fbad1a;
}

.news-section .blog-info .tags-widget {
	margin-top: 50px;
}

.news-section .blog-info .tags-widget ul {
	list-style-type: none;
	padding-left: 0;
}

.news-section .blog-info .tags-widget ul li {
	display: inline-block;
	margin: 0 3px 5px;
}

.news-section .blog-info .tags-widget ul li a {
	text-decoration: none;
	display: block;
	font-weight: 300;
	font-size: 15px;
	color: #9e9e9e;
	line-height: 32px;
	border: 1px solid #f1f1f1;
	background: #fff;
	border-radius: 2px;
	text-align: center;
	padding: 0 14px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.news-section .blog-info .tags-widget ul li a:hover {
	color: #FFFFFF;
	background: #fbad1a;
}

.news-section .blog-info .instigram-widget {
	margin-top: 50px;
}

.news-section .blog-info .instigram-widget ul {
	list-style-type: none;
}

.news-section .blog-info .instigram-widget ul li {
	display: inline-block;
	margin: 0 2px 5px;
	width: 80px;
	height: 80px;
	overflow: hidden;
}

.news-section .pagination {
	text-align: center;
}

.news-section .news-wraper .news-box {
	margin-bottom: 30px;
}

.news-section .news-wraper .news-box .img-box {
	overflow: hidden;
	height: 244px;
	border: 1px solid #999999;
}

.news-section .news-wraper .news-box .header {
	border-bottom: 1px solid #999999;
	padding-bottom: 8px;
}

.news-section .news-wraper .news-box .header h4 {
	font-size: 20px;
	line-height: 28px;
	color: #353535;
	font-weight: 400;
	margin-bottom: 2px;
}

.news-section .news-wraper .news-box .header p {
	font-size: 14px;
	line-height: 18px;
	color: #353535;
	font-weight: 300;
}

.news-section .news-wraper .news-box .text-box {
	border: 1px solid #999999;
	padding: 15px;
	border-top: none;
}

.news-section .news-wraper .news-box .text {
	padding-top: 13px;
}

.news-section .news-wraper .news-box .text p {
	font-size: 16px;
	line-height: 24px;
	color: #353535;
	font-weight: 300;
}

.news-section .news-wraper .news-box a {
	color: #fbad1a;
}

.news-section .left-wraper .news_one-single .img-box {
	position: relative;
	width: 100%;
	height: 440px;
	overflow: hidden;
	margin-bottom: 20px;
}

.news-section .left-wraper .news_one-single h4 {
	font-size: 23px;
	line-height: 28px;
	color: #353535;
	font-weight: 400;
	margin-bottom: 2px;
}

.news-section .news_one-single ul {
	list-style-type: none;
}

.news-section .news_one-single ul li {
	display: inline-block;
	margin: 0 2px 5px;
	overflow: hidden;
}

.news-section .news_one-single ul li a {
	margin-right: 10px;
	text-decoration: none;
	display: inline-block;
	color: #8a8a8a;
	font-style: italic;
}

.news-section .news_one-single ul li i {
	color: #48c7ec;
	margin-right: 5px;
}

.news-section .news_one-single .text-box {
	border-bottom: none;
}

.news-section .news_one-single .text-box a.path {
	color: #fbad1a;
}

.news-section .news_one-single .text-box i {
	margin-right: 5px;
}

.news-section .news_one-single p {
	font-size: 16px;
	line-height: 24px;
	color: #353535;
	font-weight: 300;
}

.news-section .related-posts {
	overflow: hidden;
	margin-top: 30px;
}

.news-section .related-posts .image {
	position: relative;
}

.news-section .related-posts .header {
	margin-bottom: 30px;
}

.news_one-single .owl-carousel .image {
	height: 200px;
	overflow: hidden;
}

.news_one-single .owl-carousel .text p {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.news_one-single .owl-carousel .text span {
	font-size: 12px;
}

.news-section .share-box {
	background: #f3f5fa;
	padding: 20px 20px;
	position: relative;
	height: 60px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.news-section .share-box ul {
	list-style-type: none;
	margin-top: -8px;
}

.news-section .share-box ul li {
	list-style-type: none;
	line-height: 34px;
	display: inline-block;
	width: 34px;
	height: 34px;
	border-radius: 5px;
	background: #dadada;
	margin-right: 7px;
	text-align: center;
}

.news-section .share-box ul li a {
	color: #48c7ec;
}

.news-section .left-wraper .comments .header {
	margin-bottom: 33px;
}

.news-section .left-wraper .comments .first-comment {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #c4c4c4;
}

.news-section .left-wraper .comments .first-comment .img-box {
	overflow: hidden;
	width: 60px;
	height: 60px;
	padding-right: 15px;
}

.news-section .left-wraper .comments .first-comment .text-box p {
	font-size: 15px;
	line-height: 24px;
	color: #353535;
	font-weight: 300;
}

.news-section .left-wraper .comments .first-comment .text-box h5 {
	font-size: 16px;
	line-height: 24px;
	color: #353535;
	font-weight: 400;
	margin: 0;
}

.news-section .left-wraper .comments .first-comment+.first-comment+.first-comment {
	border-bottom: none;
}

.news-section .left-wraper .post-author {
	margin-bottom: 60px;
}

.news-section .left-wraper .post-author h4 {
	font-size: 18px;
	line-height: 24px;
	color: #353535;
	font-weight: 400;
	margin: 0;
}

.news-section .left-wraper .post-author p {
	font-size: 15px;
	line-height: 26px;
	color: #353535;
	font-weight: 300;
}

.news-section .left-wraper .post-author .img-box {
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.news-section .left-wraper .post-author .inner {
	position: relative;
	margin-top: 35px;
}

.news-section .left-wraper .post-author .text-box {
	position: absolute;
	left: 120px;
	top: 0px;
	border-bottom: none;
	font-size: 16px;
	line-height: 24px;
	color: #8a8a8a;
}

.news-section h3 {
	margin: 0;
	color: #202020;
	margin-bottom: 7px;
	font-weight: 400;
}

.news-section .contact-wraper-last {
	margin-top: 50px;
}

.news-section .contact-wraper-last .inner {
	margin-top: 20px;
}

.news-section .contact-wraper-last form input[type="text"] {
	width: 100%;
	height: 50px;
	padding: 10px 10px;
	border: 1px solid #c7c7c7;
	border-radius: 0px;
	font-weight: 300;
	margin-bottom: 20px;
	color: #b6b6b6;
}

.news-section .contact-wraper-last .select {
	width: 100%;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, .4);
	border-radius: 0px;
	background: rgba(0, 0, 0, .4);
}

.news-section .contact-wraper-last form textarea {
	width: 100%;
	max-height: 100px;
	;
	border: 1px solid #c7c7c7;
	border-radius: 0px;
	color: #b6b6b6;
	font-weight: 300;
}

.news-section .contact-wraper-last .btn {
	padding: 10px 35px;
	color: #fbad1a;
	border: 1px solid #cdcdcd;
	margin-top: 15px;
	margin-left: 15px;
	font-size: 16px;
	border-radius: 0px;
}

.news-section .btn:hover {
	color: #FFFFFF;
}

.shop-section {
	padding: 80px 0;
}

.shop-section .blog-info .title {
	margin-bottom: 20px;
}

.shop-section .blog-info h4 {
	font-size: 19px;
	font-weight: 400;
	color: #3e3e3e;
}

.shop-section .blog-info .search-box .form-group input[type="search"] {
	position: relative;
	line-height: 26px;
	padding: 10px 30px 10px 15px;
	border: 1px solid #e0e0e0;
	height: 48px;
	background: #f3f3f3;
	color: #3a3a3a;
	display: block;
	width: 100%;
	border-radius: 0px;
	font-weight: 300;
	transition: all 500ms ease;
}

.shop-section .blog-info .search-box .form-group button {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 48px;
	width: 50px;
	line-height: 48px;
	text-align: center;
	display: block;
	font-size: 16px;
	color: #ffffff;
	background: #fbad1a;
	border: none;
}

.shop-section .blog-info .category-widget {
	margin-top: 50px;
}

.shop-section .blog-info .category-widget ul {
	list-style-type: none;
	padding-left: 0;
}

.shop-section .blog-info .category-widget ul li a {
	font-weight: 300;
	text-decoration: none;
	color: #575757;
	display: block;
	line-height: 42px;
	border-bottom: 1px solid #E6E6E6;
	position: relative;
	-webkit-transition: color .4s ease;
	transition: color .4s ease;
}

.shop-section .blog-info .category-widget ul li a:hover {
	color: #fbad1a;
}

.shop-section .blog-info .category-widget ul li a:before {
	content: "\f105";
	font-family: FontAwesome;
	color: #C8C8C8;
	font-size: 14px;
	position: absolute;
	right: 10px;
}

.shop-section .blog-info .news-widget {
	margin-top: 50px;
}

.shop-section .blog-info .news-widget .news-item {
	margin-bottom: 13px;
	min-height: 50px;
	padding: 8px 0px 8px 0px;
	color: #cccccc;
}

.shop-section .blog-info .news-widget .news-item p {
	color: #fbad1a;
	font-weight: 300;
}

.shop-section .blog-info .news-widget .news-item ul {
	list-style-type: none;
}

.shop-section .blog-info .news-widget .news-item ul li {
	display: inline-block;
	color: #fbad1a;
}

.shop-section .blog-info .instigram-widget p {
	font-size: 14px;
	font-weight: 300;
	color: #292929;
}

.shop-section .blog-info .news-widget .news-item figure {
	width: 73px;
	height: 73px;
	float: left;
	margin-right: 15px;
	overflow: hidden;
}

.shop-section .blog-info .news-widget h5 {
	margin-bottom: 2px;
}

.shop-section .blog-info .news-widget h5 a {
	color: #3e3e3e;
	text-decoration: none;
	font-size: 15px;
	color: #000000;
	font-weight: 400;
	-webkit-transition: color .4s ease;
	transition: color .4s ease;
}

.shop-section .blog-info .news-widget h5 a:hover {
	color: #fbad1a;
}

.shop-section .blog-info .tags-widget {
	margin-top: 50px;
}

.shop-section .blog-info .tags-widget ul {
	list-style-type: none;
	padding-left: 0;
}

.shop-section .blog-info .tags-widget ul li {
	display: inline-block;
	margin: 0 3px 5px;
}

.shop-section .blog-info .tags-widget ul li a {
	text-decoration: none;
	display: block;
	font-weight: 300;
	font-size: 15px;
	color: #9e9e9e;
	line-height: 32px;
	border: 1px solid #f1f1f1;
	background: #fff;
	border-radius: 2px;
	text-align: center;
	padding: 0 14px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.shop-section .blog-info .tags-widget ul li a:hover {
	color: #FFFFFF;
	background: #fbad1a;
}

.shop-section .blog-info .price-widget {
	margin-top: 50px;
}

.shop-section .blog-info .instigram-widget ul {
	list-style-type: none;
}

.shop-section .blog-info .instigram-widget ul li {
	display: inline-block;
	margin: 0 2px 5px;
	width: 80px;
	height: 80px;
	overflow: hidden;
}

.shop-section .product-wraper .product {
	margin-bottom: 40px;
}

.shop-section .product-wraper .product h4 {
	font-weight: 400;
	margin-bottom: 5px;
	color: #333333;
	font-size: 16px;
}

.shop-section .product-wraper .img-box {
	overflow: hidden;
}

.shop-section .product-wraper .product p {
	font-weight: 400;
	margin-bottom: 5px;
	color: #333333;
	font-size: 16px;
}

.shop-section .product-wraper .product ul {
	list-style-type: none;
	padding: 0;
}

.shop-section .product-wraper .product ul li {
	display: inline-block;
	color: #fbad1a;
}

.shop-section .product-wraper .product a {
	padding: 9px 21px;
	background: #fbad1a;
	color: #FFFFFF;
	border: none;
	border-radius: 0px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 12px;
	margin-top: 15px;
}

.shop-section .navigation ul {
	list-style-type: none;
	text-align: center;
}

.shop-section .navigation ul li {
	display: inline-block;
}

.shop-section .navigation ul li a {
	color: #626262;
	width: 45px;
	height: 45px;
	display: block;
	border: 1px solid #E2E2E2;
	line-height: 45px;
	transition: .3s ease;
}

.shop-section .navigation ul li a:hover {
	background: #fbad1a;
}

.shop-section .detailed-product .text-box ul {
	list-style-type: none;
	padding: 0;
}

.shop-section .detailed-product .text-box ul li {
	display: inline-block;
	color: #fbad1a;
}

.shop-section .detailed-product .text-box h3 {
	font-weight: 600;
	margin-bottom: 5px;
	color: #333333;
	font-size: 22px;
}

.shop-section .detailed-product .text-box p {
	font-weight: 600;
	margin-bottom: 5px;
	color: #333333;
	font-size: 18px;
}

.shop-section .detailed-product .text-box p.description {
	font-weight: 300;
	margin-bottom: 5px;
	color: #333333;
	font-size: 14px;
	line-height: 25px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.shop-section .detailed-product .text-box input {
	width: 55px;
	height: 38px;
	border: 1px solid #D9D9D9;
	text-align: center;
	line-height: 33px;
	padding-left: 10px;
	margin-right: 20px;
}

.shop-section .detailed-product .text-box a.btn {
	padding: 10px 21px;
	background: #fbad1a;
	color: #FFFFFF;
	border: none;
	border-radius: 0px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 12px;
}

.shop-section .detailed-product .text-box .tag {
	margin-top: 25px;
}

.shop-section .detailed-product .text-box .tag p,
a {
	font-weight: 300;
	margin-bottom: 5px;
	color: #333333;
	font-size: 13px;
	transition: .3s ease;
}

.shop-section .detailed-product .text-box .tag a:hover {
	color: #fbad1a;
}

.product-tab-box {
	margin-bottom: 80px;
	margin-top: 80px;
}

.product-tab-box .tab-title-box ul {
	margin: 0;
	padding: 0;
}

.product-tab-box .tab-title-box ul li {
	list-style: none;
	display: inline-block;
	margin-right: 6px;
}

.product-tab-box .tab-title-box ul li.active a {
	background: #FFFFFF;
	border-bottom-color: #fff;
	border-top: 3px solid #FAB90A;
	line-height: 44px;
}

.product-tab-box .tab-title-box ul li a {
	display: block;
	font-size: 13px;
	line-height: 46px;
	border: 1px solid #E2E2E2;
	text-transform: uppercase;
	background: #F7F7F7;
	color: #242424;
	padding: 0 29px;
	margin: 0;
}

.product-tab-box .tab-content {
	margin-top: -1px;
	border: 1px solid #E2E2E2;
	padding-top: 50px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 65px;
}

.product-tab-box .tab-content .tab-pane .review-box {
	position: relative;
	margin-bottom: 30px;
}

.product-tab-box .tab-content .tab-pane .review-box .img-box {
	position: absolute;
	top: 0px;
	left: 0px;
}

.product-tab-box .tab-content .tab-pane .review-box .text-box {
	margin-left: 85px;
}

.product-tab-box .tab-content h3 {
	margin: 0;
	font-size: 18px;
	margin-bottom: 12px;
}

.product-tab-box .tab-content p {
	color: #898989;
	font-size: 14.5px;
	margin-top: 15px;
	font-weight: 300;
}

.product-tab-box .tab-content p:first-child {
	margin-top: 0;
}

.shop-section .product-wraper .title {
	margin-bottom: 38px;
}

.shop-section .product-wraper .title h3 {
	font-weight: 400;
}

.contact_us-second {
	padding: 80px 0;
}

.contact_us-second header {
	margin-bottom: 30px;
}

.contact_us-second h2 {
	text-align: left;
	margin-bottom: 30px;
	margin-top: 0;
	font-size: 28px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.contact_us-second header p {
	margin-top: 20px;
}

.contact_us-second form {
	position: relative;
	overflow: hidden;
}

.contact_us-second form input[type="text"] {
	width: 100%;
	height: 48px;
	padding: 10px 10px;
	border: 1px solid #6d6d6d;
	border-radius: 0px;
	background: #FFFFFF;
	margin-bottom: 12px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #b8b8b8;
}

.form-grp textarea {
	max-width: 100%;
	max-height: 200px;
	font-weight: 300;
	color: #b8b8b8;
}

.contact_us-second .btn {
	padding: 10px 29px;
	background: #fbad1a;
	color: #FFFFFF;
	border: none;
	border-radius: 0px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin-left: 15px;
	margin-top: 30px;
}

.contact_us-second .btn:hover {
	color: #FFFFFF;
}

.keep-in ul.social-icons {
	margin-top: 20px;
	margin-bottom: 50px;
}

.keep-in .social-icons li {
	list-style-type: none;
	line-height: 34px;
	display: inline-block;
	width: 34px;
	height: 34px;
	border-radius: 5px;
	background: #dadada;
	margin-right: 7px;
	text-align: center;
}

.keep-in ul.social-icons {
	padding: 0;
}

.keep-in ul.social-icons li a {
	color: #fbad1a;
}

.contact-box {
	margin-top: 25px;
}

.contact-box h2 {
	margin-bottom: 0px;
}

.address-box {
	padding: 20px;
	border-bottom: 1px solid #e2e2e2;
}

.contact-box .address-box .icon-box {
	float: left;
	vertical-align: middle;
}

.contact-box .address-box .icon-box i {
	font-size: 21px;
	color: #fbad1a;
	text-align: center;
}

.contact-box .address-box .address-text {
	margin-left: 37px;
	margin-bottom: 0px;
	color: #9c9c9c;
}

#main-header {
	position: absolute;
	background: rgba(0, 0, 0, .5);
	z-index: 100;
	width: 100%;
}

#main-header .top-line-two {
	background-color: transparent;
	padding: 10px 0;
}

.top-line-two {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #8b8b8b;
}

.top-line-two .welcome {
	float: left;
}

.top-line-two .welcome ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 38px;
}

.top-line-two .welcome ul li {
	display: inline-block;
	margin-right: 16px;
	color: #FFFFFF;
	font-weight: 300;
	font-size: 13px;
}

.top-line-two .welcome ul li i {
	color: #fbad1a;
	margin-right: 5px;
}

.top-line-two .social-icons {
	float: right;
}

.top-line-two .social-icons ul {
	list-style-type: none;
	margin: 0;
}

.top-line-two .social-icons ul li {
	display: inline-block;
	margin-left: 16px;
}

.top-line-two .social-icons ul li a {
	display: block;
	text-align: center;
	line-height: 34px;
	color: #FFFFFF;
	border-radius: 3px;
	transition: all 0.5s ease;
}

.top-line-two .social-icons ul li a:hover {
	color: #fbad1a;
}

.main-menu-two .logo {
	margin-top: 10px;
	float: left;
}

.navbar-default .navbar-toggle {
	margin-bottom: 25px;
}

.main-menu-two #main-navigation-wrapper.navbar-default {
	background: transparent;
	border: none;
	border-radius: 0;
	margin: 0;
}

.navbar-collapse {
	padding: 0;
}

#main-navigation-wrapper .nav>li {
	padding: 25px 0;
}

#main-navigation-wrapper .nav>li>a {
	color: #FFFFFF;
	text-transform: uppercase;
	display: block;
	padding: 0 26px;
	font-weight: bold;
	margin: 0;
}

#main-navigation-wrapper .nav>li:first-child a {
	padding-left: 0;
}

#main-navigation-wrapper .nav .dropdown-submenu li:last-child {
	border-bottom: 4px solid #fbad1a;
}

#main-navigation-wrapper .navbar-nav>li>.dropdown-submenu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	padding: 0;
	border: none;
	border-radius: 0;
	display: block;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	width: 270px;
	background: #fdfdfd;
	-webkit-transform: translate3d(-20px, 0, 0);
	transform: translate3d(-20px, 0, 0);
}

#main-navigation-wrapper .navbar-nav>li:hover>.dropdown-submenu,
#main-navigation-wrapper .navbar-nav>.open>.dropdown-submenu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
}

#main-navigation-wrapper .nav .dropdown-submenu li a {
	display: block;
	border-bottom: 1px solid #ebebeb;
	text-transform: capitalize;
	color: #313131;
	font-size: 15px;
	font-weight: 500;
	padding: 12px 0px 12px 33px;
	line-height: normal;
	transition: all 0.4s ease 0s;
	margin: 0;
}

#main-navigation-wrapper .nav .dropdown-submenu li:last-child>a {
	border-bottom: none;
}

#main-navigation-wrapper .nav .dropdown-submenu li a:hover {
	background: #fbad1a;
	color: #FFFFFF;
	text-decoration: none;
}

.main-menu-two .search li {
	float: right;
	padding: 22px 0;
}

.main-menu-two .search li a {
	color: #FFFFFF;
	display: block;
}

.main-menu-two .search li i {
	margin-right: 5px;
}

.main-menu-two .search li a {
	color: #a9a9a9;
}

.main-menu-two .search button {
	background: none;
	border: none;
	color: #a9a9a9;
}

#main-navigation-wrapper .navbar-nav li:hover .dropdown-submenu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
}

.main-menu-two ul.search {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
}

.main-menu-two ul.search li.first {
	margin-left: 55px;
}

.finance-navbar.affix {
	top: 0;
	left: 0;
	right: 0;
	position: fixed !important;
	margin: 0;
	animation: fadeItIn 1s;
	z-index: 1000;
	padding: 5px 0 !important;
	min-height: 70px !important;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@keyframes fadeItIn {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		-moz-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

.main-menu-two.sticky {
	top: 0;
	left: 0;
	right: 0;
	position: fixed !important;
	margin: 0;
	animation: fadeItIn 1s;
	z-index: 1000;
	min-height: 70px !important;
	background: #072d4d;
	-webkit-box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.47);
	-moz-box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.47);
	box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.47);
}

#minimal-bootstrap-carousel {
	z-index: 0;
}

#minimal-bootstrap-carousel .carousel-inner-two {
	height: 900px;
}

.latest-news {
	padding: 80px 0;
}

.latest-news .title {
	position: relative;
	margin-bottom: 80px;
}

.latest-news .title h2 {
	text-align: center;
	margin: 0;
	font-size: 28px;
	color: #232323;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.latest-news .title h2:before {
	content: "";
	position: absolute;
	top: 50px;
	left: 48%;
	width: 50px;
	height: 4px;
	background: #fbad1a;
}

.latest-news .item .img-box {
	overflow: hidden;
	height: 235px;
}

.latest-news .item {
	transition: .3s ease;
}

.latest-news .item:hover {
	-webkit-box-shadow: 0px 0px 32px -8px rgba(0, 0, 0, 0.38);
	-moz-box-shadow: 0px 0px 32px -8px rgba(0, 0, 0, 0.38);
	box-shadow: 0px 0px 32px -8px rgba(0, 0, 0, 0.38);
}

.latest-news .item .text-box {
	overflow: hidden;
	border: 1px solid #515151;
	border-top: transparent;
	padding: 10px 12px;
}

.latest-news .item .text-box h4 {
	font-weight: 400;
	margin-bottom: 5px;
	transition: .3s ease;
	color: black;
}

.latest-news .item .text-box h4:hover {
	color: #fbad1a;
}

.latest-news .item .text-box p span {
	font-weight: 300;
	color: #5b5b5b;
}

.latest-news .item .text-box p {
	font-weight: 300;
	color: #5b5b5b;
	font-size: 15px;
	line-height: 25px;
}

.latest-news .item .text-box a {
	font-weight: 400;
	color: #fbad1a;
	font-size: 15px;
	line-height: 28px;
}

.main-header-four {
	position: relative;
	background: #072d4d;
}

.main-header-four .top-line-four {
	padding: 10px 0;
}

.main-header-four .top-line-four p {
	color: #FFFFFF;
	margin-top: 7px;
}

.main-header-four .top-line-four ul {
	list-style-type: none;
	float: right;
	margin-bottom: 0;
}

.main-header-four .top-line-four ul li {
	display: inline-block;
	margin-left: 7px;
}

.main-header-four .top-line-four ul li a {
	color: #FFFFFF;
	display: block;
	height: 34px;
	width: 34px;
	background: #b9b9b9;
	text-align: center;
	line-height: 34px;
	color: #F4F4F4;
	border-radius: 3px;
	transition: all 0.5s ease;
}

.main-header-four .sec-line .border {
	position: absolute;
	bottom: 0;
}

.main-header-four .sec-line .line {
	height: 1px;
	background: gray;
	padding: 0 10px;
}

.main-header-four .sec-line .sec-line-wraper {
	background: #ffffff;
	overflow: hidden;
}

.main-header-four .sec-line .sec-line-wraper {
	padding: 30px 0 19px 0;
}

.main-header-four .sec-line .sec-line-wraper ul {
	list-style-type: none;
	margin-left: 50px;
	margin-bottom: 0;
	margin-top: 3px;
}

.main-header-four .sec-line .sec-line-wraper ul li {
	display: inline-block;
	list-style-type: none;
	margin-left: 20px;
}

.main-header-four .sec-line .sec-line-wraper ul p {
	color: #6c6c6c;
	font-size: 15px;
	font-weight: 300;
}

.main-header-four .sec-line .sec-line-wraper ul span {
	color: #232932;
	font-size: 14px;
	font-weight: bold;
}

.main-header-four .sec-line .sec-line-wraper .icon {
	float: left;
	display: block;
}

.main-header-four .sec-line .sec-line-wraper .icon i {
	font-size: 1.7em;
	line-height: 30px;
	color: #c0c0c0;
}

.main-header-four .sec-line .sec-line-wraper .general-info {
	float: left;
}

.main-header-four .sec-line .sec-line-wraper .text {
	float: left;
	display: block;
	margin-left: 10px;
}

.main-header-four .sec-line .sec-line-wraper .button {
	float: right;
}

.main-header-four .sec-line .sec-line-wraper .button a {
	display: block;
	background: #fbad1a;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 14px 25px;
}

.main-menu-four {
	background: transparent;
	position: absolute;
	z-index: 1000;
	width: 100%;
}

.main-menu-four-wraper {
	background: #FFFFFF;
	height: 70px;
}

.main-menu-four #main-navigation-wrapper.navbar-default {
	background: #FFFFFF;
	border: none;
	border-radius: 0;
	margin: 0;
}

.navbar-collapse {
	padding: 0;
}

#main-navigation-wrapper .nav>li {
	padding: 25px 0;
}

.main-menu-four #main-navigation-wrapper .nav>li>a {
	color: #1a1a1a;
	text-transform: uppercase;
	display: block;
	font-weight: bold;
	margin: 0;
}

#main-navigation-wrapper .nav>li:first-child a {
	padding-left: 0;
}

#main-navigation-wrapper .nav .dropdown-submenu li:last-child {
	border-bottom: 4px solid #fbad1a;
}

#main-navigation-wrapper .navbar-nav>li>.dropdown-submenu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1200;
	display: none;
	float: left;
	min-width: 160px;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	padding: 0;
	border: none;
	border-radius: 0;
	display: block;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	width: 270px;
	background: #fdfdfd;
	-webkit-transform: translate3d(-20px, 0, 0);
	transform: translate3d(-20px, 0, 0);
}

#main-navigation-wrapper .navbar-nav>li:hover>.dropdown-submenu,
#main-navigation-wrapper .navbar-nav>.open>.dropdown-submenu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
}

#main-navigation-wrapper .nav .dropdown-submenu li a {
	display: block;
	border-bottom: 1px solid #ebebeb;
	text-transform: capitalize;
	color: #313131;
	font-size: 15px;
	font-weight: 500;
	padding: 12px 0px 12px 33px;
	line-height: normal;
	transition: all 0.4s ease 0s;
	margin: 0;
}

#main-navigation-wrapper .nav .dropdown-submenu li:last-child>a {
	border-bottom: none;
}

#main-navigation-wrapper .nav .dropdown-submenu li a:hover {
	background: #fbad1a;
	color: #FFFFFF;
	text-decoration: none;
}

.main-menu-four .search li {
	float: right;
	padding: 22px 0;
}

.main-menu-four .search li a {
	color: #313131;
	display: block;
}

.main-menu-four .search li i {
	margin-right: 5px;
}

.main-menu-four .search li a {
	color: #a9a9a9;
}

.main-menu-four .search button {
	background: none;
	border: none;
	color: #a9a9a9;
}

.main-menu-four #main-navigation-wrapper .navbar-nav li:hover .dropdown-submenu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
}

.main-menu-four ul.search {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
}

.main-menu-four ul.search li.first {
	margin-left: 55px;
}

.main-menu-four.sticky {
	top: 0;
	left: 0;
	right: 0;
	position: fixed !important;
	margin: 0;
	animation: fadeItIn 1s;
	z-index: 1000;
	min-height: 70px !important;
	background: #FFFFFF;
	-webkit-box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.47);
	-moz-box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.47);
	box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.47);
}

.about-us-four h2 {
	text-align: left;
	margin: 0;
	font-size: 28px;
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.about-us-four h2:before {
	content: "";
	position: absolute;
	top: 100px;
	left: 15px;
	width: 50px;
	height: 4px;
	background: #fbad1a;
}

.about-us-four .text-box {
	margin-top: 70px;
}

.about-us-four .text-box p {
	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
}

.about-us-four .text-box ul {
	padding: 0;
	list-style-type: none;
}

.about-us-four .title {
	padding-top: 50px;
}

.about-us-four .text-box ul li {
	line-height: 28px;
}

.about-us-four .text-box ul li i {
	margin-right: 5px;
	color: #fbad1a;
}

.about-us-four a {
	border: none;
	background: #fbad1a;
	color: #ffffff;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 11px 33px;
	margin-top: 20PX;
	clear: both;
}